<!DOCTYPE html>
<html lang="en">
<head>
	{{ template "meta.html" . }}
	<title>Home | CFA Suite</title>
</head>
<body class="bg-black">
	{{ template "user-banner.html" . }}
	{{ template "banner-spacer.html" . }}
	{{ template "user-nav-menu.html" . }}
	{{ template "user-nav-overlay.html" . }}
	<div class="bg-darkgray m-2 rounded p-4 text-white border border-gray">
		<h2 class="text-lg font-main mb-2">Welcome Home</h2>
		<p class="text-sm font-second">It is a pleasure to serve you. Thank you so much for everything you do to have a positive influence on our guests and team.</p>
	</div>
	<div class="bg-darkgray m-2 rounded p-4 text-white flex flex-col">
		<h2 class="text-lg font-main mb-2">Oh, So Empty</h2>
		<p class="text-sm font-second mb-4">Create a location to get started!</p>
		<a href="/create-location" class="bg-main rounded px-6 py-2 font-main w-full flex justify-center">
			<p>Create a Location</p>
		</a>
	</div>
</body>
</html>