<form id="login-form" class="border border-gray bg-darkgray m-2 rounded text-white flex flex-col">
	<h1 class="text-xl p-4 mb-4 font-main">Login</h1>
	<label class="font-main px-4 py-2 text-xs">Email</label>
	<input type="text" class="mx-4 mb-4 border-gray border bg-darkgray rounded outline-lightgray font-second text-xs p-2" />
	<label class="font-main px-4 py-2 text-xs">Password</label>
	<input type="text" class="mx-4 mb-8 bg-darkgray rounded border-gray border outline-lightgray font-second text-xs p-2" />
</form>