<div class="bg-darkgray m-2 rounded p-4 text-white flex flex-col">
	<h2 class="text-lg font-main mb-2">Oh, So Empty</h2>
	<p class="text-sm font-second mb-4">Create a location to get started!</p>
	<div class="flex justify-center">
		<a _="on click toggle .hidden on me then toggle .hidden on the next <div/>" href="/app/create-location" class="bg-main rounded px-6 py-2 font-main w-full flex justify-center">
			<p>Create a Location</p>
		</a>
		<div class="hidden border-2 py-2 m-4 animate-spin w-8 h-8 border border-white rounded-full border-t-main"></div>
	</div>
</div>