<div id="user-banner" class="h-16 bg-darkgray text-white border-b-gray border-b-2 flex flex-row justify-between z-50 fixed top-0 w-full">
	<h1 class="p-4 font-main text-2xl">{{ .Banner }}</h1>
	<div _="on click toggle .hidden on me then toggle .hidden on #user-banner-x then toggle .hidden on #user-nav-menu then toggle .hidden on #user-nav-overlay" id="user-banner-bars" class="p-4 self-center">
		<i class="fa-solid fa-bars fa-lg"></i>
	</div>
	<div _="on click toggle .hidden on me then toggle .hidden on #user-banner-bars then toggle .hidden on #user-nav-menu then toggle .hidden on #user-nav-overlay" id="user-banner-x" class="p-4 hidden self-center">
		<i class="fa-solid fa-x fa-lg"></i>
	</div>
</div>